<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">Current Air Quality Index at <%= @location %>.</p>
  <hr class="my-4">
  <p>Hit reload in your web browser to update...</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>

<br />